tests/APAM-Tests/TestCompile/src/main/resources/Apam.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 2012 Developer Edition (Trial) 10.1.5.4204 
	(http://www.liquid-technologies.com) -->
<xs:schema xmlns:ipojo="org.apache.felix.ipojo"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="fr.imag.adele.apam" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:apam="fr.imag.adele.apam">
	<xs:import schemaLocation="http://felix.apache.org/ipojo/schemas/CURRENT/core.xsd"
		namespace="org.apache.felix.ipojo" />

	<xs:element name="apam">

		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="specification" type="apam:SpecificationType">
					<xs:annotation>
						<xs:documentation>The specification declarations.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="implementation" type="apam:ImplementationType">
					<xs:annotation>
						<xs:documentation>The implementation declarations.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="composite" type="apam:CompositeType">
					<xs:annotation>
						<xs:documentation>The composite type declarations.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="instance" type="apam:InstanceType">
					<xs:annotation>
						<xs:documentation>The instance declarations.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>

		</xs:complexType>

	</xs:element>

	<xs:complexType name="SpecificationType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="property" type="apam:PropertyType" />
			<xs:element name="definition" type="apam:DefinitionType" />
			<xs:element name="dependency" type="apam:DependencyType" />
		</xs:choice>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="exclusive" type="xs:boolean" use="optional" />
		<xs:attribute name="singleton" type="xs:boolean" use="optional" />
		<xs:attribute name="instantiable" type="xs:boolean" use="optional" />
		<xs:attribute name="shared" type="xs:boolean" use="optional" />
		<xs:attribute name="interfaces" type="xs:string" use="optional" />
		<xs:attribute name="messages" type="xs:string" use="optional" />
	</xs:complexType>


	<xs:complexType name="ImplementationType">

		<xs:choice minOccurs="0" maxOccurs="unbounded">

			<xs:element name="property" type="apam:PropertyValueType" />

			<xs:element name="definition" type="apam:InjectedDefinitionType" />

			<xs:element name="dependency" type="apam:InjectedDependencyType" />

			<xs:element ref="ipojo:requires" />

			<xs:element ref="ipojo:provides" />

		</xs:choice>

		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="classname" type="xs:string" use="required" />
		<xs:attribute name="messages" type="xs:string" use="optional" />
		<xs:attribute name="message-fields" type="xs:string" use="optional" />
		<xs:attribute name="interfaces" type="xs:string" use="optional" />
		<xs:attribute name="specification" type="xs:string" use="optional" />
		<xs:attribute name="exclusive" type="xs:boolean" use="optional" />
		<xs:attribute name="singleton" type="xs:boolean" use="optional" />
		<xs:attribute name="instantiable" type="xs:boolean" use="optional" />
		<xs:attribute name="shared" type="xs:boolean" use="optional" />

	</xs:complexType>




	<xs:complexType name="StartType">

		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="property" type="apam:PropertyValueType"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="dependency" type="apam:DependencyType"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="trigger" type="apam:TriggerType"
				minOccurs="0" maxOccurs="1" />
		</xs:choice>

		<xs:attribute name="implementation" type="xs:string" use="required" />
		<xs:attribute name="name" type="xs:string" use="required" />
	</xs:complexType>

	<xs:complexType name="InstanceType" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="property" type="apam:PropertyValueType" />
			<xs:element name="dependency" type="apam:DependencyType" />
		</xs:choice>
		<xs:attribute name="implementation" type="xs:string" use="required" />
		<xs:attribute name="name" type="xs:string" use="required" />
	</xs:complexType>



	<xs:complexType name="CompositeType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="property" type="apam:PropertyValueType"
				minOccurs="0" maxOccurs="unbounded" />

			<xs:element name="definition" type="apam:DefinitionType"
				minOccurs="0" maxOccurs="unbounded" />

			<xs:element name="dependency" type="apam:DependencyType"
				minOccurs="0" maxOccurs="unbounded" />

			<xs:element name="contentMngt" type="apam:ContentMngType"
				minOccurs="0" maxOccurs="1">

			</xs:element>
		</xs:choice>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="main" type="xs:string" use="optional" />
		<xs:attribute name="exclusive" type="xs:boolean" use="optional" />
		<xs:attribute name="singleton" type="xs:boolean" use="optional" />
		<xs:attribute name="instantiable" type="xs:boolean" use="optional" />
		<xs:attribute name="shared" type="xs:boolean" use="optional" />
		<xs:attribute name="specification" type="xs:string" use="optional" />
	</xs:complexType>

	<xs:complexType name="ContentMngType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="start" type="apam:StartType" minOccurs="0"
				maxOccurs="unbounded" />

			<xs:element name="borrow" type="apam:VisibilityType"
				minOccurs="0" maxOccurs="unbounded" />

			<xs:element name="local" type="apam:VisibilityType"
				minOccurs="0" maxOccurs="unbounded" />

			<xs:element name="friend" type="apam:VisibilityType"
				minOccurs="0" maxOccurs="unbounded" />

			<xs:element name="application" type="apam:VisibilityType"
				minOccurs="0" maxOccurs="unbounded" />

			<xs:element name="own" type="apam:OwnType" minOccurs="0"
				maxOccurs="unbounded" />

			<xs:element name="state" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:attribute name="implementation" type="xs:string"
						use="optional" />
					<xs:attribute name="property" type="xs:string" use="optional" />
				</xs:complexType>
			</xs:element>
			<xs:element name="promote" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="implementation" type="xs:string"
						use="optional" />
					<xs:attribute name="dependency" type="xs:string" use="optional" />
					<xs:attribute name="to" type="xs:string" use="optional" />
				</xs:complexType>
			</xs:element>

			<xs:element name="specification" minOccurs="0">
				<xs:complexType>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="constraints" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:choice minOccurs="0" maxOccurs="unbounded">
									<xs:element name="constraint" type="apam:FilterAttribute" />
								</xs:choice>
							</xs:complexType>
						</xs:element>
						<xs:element name="preferences" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:choice minOccurs="0" maxOccurs="unbounded">
									<xs:element name="constraint" type="apam:FilterAttribute" />
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:choice>
					<xs:attribute name="name" type="xs:string" use="optional" />
					<xs:attribute name="eager" type="xs:boolean" use="optional" />
					<xs:attribute name="hide" type="xs:boolean" use="optional" />
					<xs:attribute name="exception" type="xs:string" use="optional" />
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>


	<xs:complexType name="OwnType">
		<xs:choice>
			<xs:element name="grant" type="apam:GrantType" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:choice>
		<xs:attribute name="specification" type="xs:string" use="optional" />
		<xs:attribute name="property" type="xs:string" use="optional" />
		<xs:attribute name="value" type="xs:string" use="optional" />
		<xs:attribute name="implementation" type="xs:string" use="optional" />
	</xs:complexType>


	<xs:complexType name="GrantType">
		<xs:attribute name="implementation" type="xs:string" use="optional" />
		<xs:attribute name="dependency" type="xs:string" use="optional" />
		<xs:attribute name="when" type="xs:string" use="optional" />
	</xs:complexType>


	<xs:complexType name="ConstraintsType" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="implementation" type="apam:FilterAttribute" />
			<xs:element name="instance" type="apam:FilterAttribute" />
		</xs:choice>
	</xs:complexType>


	<xs:complexType name="VisibilityType">
		<xs:attribute name="implementation" type="xs:string" use="optional" />
		<xs:attribute name="instance" type="xs:string" use="optional" />
	</xs:complexType>

	<xs:complexType name="FilterAttribute">
		<xs:attribute name="filter" type="xs:string" use="optional" />
	</xs:complexType>

	<xs:complexType name="PreferencesType">
		<xs:complexContent mixed="true">
			<xs:extension base="apam:ConstraintsType" />
		</xs:complexContent>
	</xs:complexType>


	<xs:complexType name="DependencyType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="constraints" type="apam:ConstraintsType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="preferences" type="apam:PreferencesType"
				minOccurs="0" maxOccurs="1" />
		</xs:choice>

		<xs:attribute name="specification" type="xs:string" use="optional" />
		<xs:attribute name="interface" type="xs:string" use="optional" />
		<xs:attribute name="message" type="xs:string" use="optional" />

		<xs:attribute name="implementation" type="xs:string" use="optional" />
		<xs:attribute name="id" type="xs:string" use="optional" />
		<xs:attribute name="fail" type="xs:string" use="optional" />
		<xs:attribute name="exception" type="xs:string" use="optional" />

	</xs:complexType>

	<xs:complexType name="InjectedDependencyType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="constraints" type="apam:ConstraintsType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="preferences" type="apam:PreferencesType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="interface" type="apam:ResourceDependencyType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="message" type="apam:ResourceDependencyType"
				minOccurs="0" maxOccurs="1" />
		</xs:choice>
		<xs:attribute name="field" type="xs:string" use="optional" />
		<xs:attribute name="method" type="xs:string" use="optional" />
		<xs:attribute name="specification" type="xs:string" use="optional" />
		<xs:attribute name="interface" type="xs:string" use="optional" />
		<xs:attribute name="message" type="xs:string" use="optional" />

		<xs:attribute name="implementation" type="xs:string" use="optional" />
		<xs:attribute name="id" type="xs:string" use="optional" />
		<xs:attribute name="fail" type="xs:string" use="optional" />
		<xs:attribute name="exception" type="xs:string" use="optional" />


	</xs:complexType>


	<xs:complexType name="ResourceDependencyType">
		<xs:attribute name="field" type="xs:string" use="optional" />
		<xs:attribute name="method" type="xs:string" use="optional" />
		<xs:attribute name="name" type="xs:string" use="optional" />
	</xs:complexType>



	<xs:complexType name="TriggerType">
		<xs:choice>
			<xs:element name="specification" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:element name="constraints" minOccurs="0">
							<xs:complexType>
								<xs:choice>
									<xs:element name="constraint" type="apam:FilterAttribute" />
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:choice>
					<xs:attribute name="name" type="xs:string" use="optional" />
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="PropertyValueType" mixed="true">
		<xs:annotation>
			<xs:documentation> TODO </xs:documentation>
		</xs:annotation>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation> Name of the property. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation> Default value of the property. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="PropertyType">
		<xs:complexContent mixed="true">
			<xs:extension base="apam:PropertyValueType">
				<xs:attribute name="type" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation> Type of the property. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="DefinitionType" mixed="true">
		<xs:annotation>
			<xs:documentation> Defines a component property. </xs:documentation>
		</xs:annotation>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation> Name of the property. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation> Default value of the property. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation> Type of the property. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="InjectedDefinitionType">
		<xs:complexContent mixed="true">
			<xs:extension base="apam:DefinitionType">
				<xs:attribute name="internal" type="xs:boolean" use="optional" />
				<xs:attribute name="field" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation> Field of the property </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="method" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation> Setter method of the property. This method is
							called to inject property
							value.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


</xs:schema>